@model ForumSystem.Web.InputModels.Questions.AskInputModel
@{
    ViewBag.Title = "Ask question";
}

<h1>@ViewBag.Title</h1>
@using (Html.BeginForm("Ask", "Questions", FormMethod.Post))
{
    <div class="form-group row">
        @Html.LabelFor(m => m.Title, new { @class = "label-control col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Write the title of your question. Be specific!" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Content, new { @class = "label-control col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Content, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Tags, new { @class = "label-control col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Tags, new { @class = "form-control token-input", id = "tokenfield", placeholder = "Write the tags of your question here. Be specific!" })
            @Html.ValidationMessageFor(m => m.Tags, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-4 col-md-offset-2">
            <input type="submit" value="Ask question" class="btn btn-primary" />
        </div>
    </div>
}

@section tinymce
{
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#Content'
        });
    </script>
}